extends _layouts/base

block content
	h1 Darkside Of Gulp StarterKit
		span.icon-darth-vader
	button.btn.btn-danger.btn-lg.centered(data-toggle="modal",data-target="#example") Click Me
	div#example.modal.fade
		div.modal-dialog.modal-lg
			div.modal-content
				div.modal-header
					button.close(type="button",data-dismiss="modal",aria-label="Close")
					h4 Modal Title
				div.modal-body
					span.centered NOOOOOOOOOOOOOOOOOOOOOOOOOO.........
	img.centered(src="image/death.jpg")